<!-- JOHN DOE’S PAGE - https://github.com/cadars/john-doe/ -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>Site Title</title>
    <meta name="description" content="Site Description">
    
    <!-- Recommended minimum -->
    <meta property="og:title" content="Site Title">
    <meta property="og:description" content="Site Description">
    <meta property="og:image" content="img/site-image.jpg">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- You could also inline the stylesheet -->
    <link rel="stylesheet" href="style.css">
    </head>
  <body>
